body {
	font-family: 'Mina', sans-serif;
}

table {
	background: silver;
}

h1	{
	color: blue;
	font-size: 40px;
	background-color: white;
	margin: 0;
	padding:13.4px;
}

h2{
	color: navy;
}

ul {
	list-style-type: circle;
}

#parents {
	line-height: 109px;
}

#children {
	content:"";
	display: inline-block;;
	vertical-align: middle
}

	table {
		border-collapse: collapse;
	}

	td, th {
		border: 2px solid black;
		text-align: center;
		padding: 2px;
	}

	table.a {
		table-layout: auto;
		width:180px;
	}

	table.b {
		table-layout: auto;
		width:150px;
	}

	table.c {
		table-layout: auto;
		width:150px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}

	.parent {
		text-align: center;
		vertical-align: top;
	}

	.parent  ul {
		text-align: left;
		display: inline-block;
	}

	.column {
		display: inline-block;
		vertical-align: top;
	}

	

	#nav {
		display:inline-flex;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color:black;
	    width: 100%;
	    position: -webkit-sticky;
	    position: sticky;
	    top: 0;
	}

	

	.navigation {
		border-right: 1px solid grey;
	}
	.navigation:last-child {
			border-right: none;
	}

	#last {
		flex-direction: flex-end;
		margin-left:auto;
	}

	li a {
		display: block;
		color: white;
	    text-align: center;
	    text-decoration: none;
	    padding: 14px 16px;
	    margin: 0;
	}
	li a:hover {
		background-color: grey;
		color: black;
	}

	#active {
		background-color: green;
	}

	.image {
		background-image: url("/stellaxzeph.jpg"); 
		background-position: center;
		background-repeat: no-repeat;
		background-size:cover;
		height: 600px;
		position: relative;
	}

	.text {
		font-family: 'Dancing Script', cursive;
		text-align: center;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		color:silver;
		opacity: 0.5;
		margin-top:50px;

	}

	#basic {
		font-family: 'Indie Flower', cursive;
		color: navy;
	}



@media(max-width: 512px){
	.image {
		height: 300px
	}

	.text {
		font-size: 10px;
		margin-top: 15px;
	}

	#nav {
		font-size: 10px;
	}

	h2 {
		font-size: 20px;
	}

	td {
		font-size: 10px;
	}

	p {
		font-size: 15px;
	}

	ul {
		font-size: 10px;
	}
}

